<% content_for :content do %>
  <div class="container">
    <div class="col-lg-6 align-center">
      <p>
        <%= yield %>
      </p>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>